<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceiLibrary1" />
                <binding name="BasicHttpBinding_IServiceiLibrary2" />
                <binding name="BasicHttpBinding_IServiceiLibrary" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ServiceTest/ServiceiLibrary.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceiLibrary2"
                contract="ServiceReference2.IServiceiLibrary" name="BasicHttpBinding_IServiceiLibrary2" />
            <endpoint address="http://localhost:57918/ServiceiLibrary.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceiLibrary"
                contract="ServiceReference1.IServiceiLibrary" name="BasicHttpBinding_IServiceiLibrary" />
            <endpoint address="http://webserv.thematrix.net/iLibraryService/ServiceiLibrary.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceiLibrary1"
                contract="iLibraryService.IServiceiLibrary" name="BasicHttpBinding_IServiceiLibrary1" />
        </client>
    </system.serviceModel>
  <connectionStrings>
    <add name="Rohm.Common.CellController.Properties.Settings.DBxConnectionString" connectionString="Data Source=172.16.0.102;Initial Catalog=DBx;Persist Security Info=True;User ID=sa;Password='5dcda45fc424*'" providerName="System.Data.SqlClient" />
    <add name="Rohm.Common.CellController.Properties.Settings.DBLSISHTConnectionString" connectionString="Data Source=10.28.1.144;Initial Catalog=DBLSISHT;Persist Security Info=True;User ID=ship;Password=ship" providerName="System.Data.SqlClient" />
    <!--<add name="ApcsProConnectionString" connectionString="Server=172.16.0.110;Database=APCSProDB;User Id=apcsuser;Password=apcsuser;" providerName="System.Data.SqlClient" />-->
    <add name="ApcsProConnectionString" connectionString="Server=10.28.32.122;Database=APCSProDB;User Id=sa;Password=p@$$w0rd;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>