<?xml version="1.0"?>
<configuration>
  <!-- 
      Note: As an alternative to hand editing this file you can use the 
      web admin tool to configure settings for your application. Use
      the Website->Asp.Net Configuration option in Visual Studio.
      A full list of settings and comments can be found in 
      machine.config.comments usually located in 
      \Windows\Microsoft.Net\Framework\vx.x\Config 
  -->
  <appSettings>
    <add key="LogPath" value="~\Log"/>
    <add key="McNoSkipped" value="NULL"/>
    <!-- Example <add key="McNoSkipped" value="DB-C-55,DB-C-56"/>-->
  </appSettings>
  <connectionStrings>
    <add name="Rohm.Common.CellController.Properties.Settings.DBxConnectionString" connectionString="Data Source=172.16.0.102;Initial Catalog=DBx;Persist Security Info=True;User ID=sa;Password='5dcda45fc424*'" providerName="System.Data.SqlClient"/>
    <add name="Rohm.Common.CellController.Properties.Settings.DBLSISHTConnectionString" connectionString="Data Source=10.28.1.144;Initial Catalog=DBLSISHT;Persist Security Info=True;User ID=ship;Password=ship" providerName="System.Data.SqlClient"/>
    <!--<add name="ApcsProConnectionString" connectionString="Server=172.16.0.110;Database=APCSProDB;User Id=apcsuser;Password=apcsuser;" providerName="System.Data.SqlClient" />-->
    <add name="ApcsProConnectionString" connectionString="Server=10.28.32.122;Database=APCSProDB;User Id=apcsuser;Password=apcsuser;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <!-- 
        Set compilation debug="true" to insert debugging 
        symbols into the compiled page. Because this 
        affects performance, set this value to true only 
        during development.
    -->
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
        The <authentication> section enables configuration 
        of the security authentication mode used by 
        ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows"/>
    <!--
        The <customErrors> section enables configuration 
        of what to do if/when an unhandled error occurs 
        during the execution of a request. Specifically, 
        it enables developers to configure html error pages 
        to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
      The system.webServer section is required for running ASP.NET AJAX under Internet
      Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ApcsWebServiceSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://webserv.thematrix.net/apcscontrolsystem/apcswebservice.asmx" binding="basicHttpBinding" bindingConfiguration="ApcsWebServiceSoap" contract="TDCService.ApcsWebServiceSoap" name="ApcsWebServiceSoap"/>
    </client>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="Service">
        <endpoint address="" binding="basicHttpBinding" contract="IService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="ServiceiLibraryBehavior" name="ServiceiLibrary">
        <endpoint address="" binding="basicHttpBinding" contract="IServiceiLibrary">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="ServiceiLibraryBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
</configuration>